# Produccion - copiar a .env en el servidor
DB_HOST=postgres          # nombre del servicio en docker-compose
DB_PORT=5432              # puerto interno del contenedor postgres (siempre 5432)
# El mapeo '5433:5432' en docker-compose.prod.yml es solo para DBeaver desde el host
DB_USER=maxan_user
DB_PASSWORD=cambiar_esta_contrasena
DB_NAME=maxan_erp
DB_POOL_MAX=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=5000
NODE_ENV=production
PORT=3000
JWT_SECRET=generar_un_secreto_aleatorio_con_node_-e_console.log(require("crypto").randomBytes(32).toString("hex"))
JWT_EXPIRES_IN=8h
CORS_ORIGIN=https://erp.maxansistemas.com
R2_ENDPOINT=https://f2232465e9873dbfe08b7623306ecace.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=7b7efab8c58861da377c3f2d0e088fe2
R2_SECRET_ACCESS_KEY=e5291c38b39e0c2cd95d07076dd1248332aef16f36670861b75939648d364ddd
R2_BUCKET=maxan-erp
R2_PUBLIC_URL=https://f2232465e9873dbfe08b7623306ecace.r2.cloudflarestorage.com/maxan-erp
